<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2.26超级猜图.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFD7DEF61C8071FF00226DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD7DF0F1C8071FF00226DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD7DF1A1C8071FF00226DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
